version: "3.8"

services:
  d_minio01:
    image: minio/minio:latest
    container_name: d_minio01
    ports:
      - "20100:9000"     # MinIO API
      - "20101:9001"     # MinIO Console
    environment:
      MINIO_ROOT_USER: datalake
      MINIO_ROOT_PASSWORD: datalake
    command: server /data --console-address ":9001"
    volumes:
      - /mnt/nfs/files/Datalake/dev/infra/Minio/data:/data
    restart: unless-stopped
    
  server:
    image: unitycatalog/unitycatalog:latest
    container_name: server
    ports:
      - "8080:8080"
    volumes:
      - /mnt/nfs/files/Datalake/dev/infra/UnityCatalog/server/conf:/home/unitycatalog/etc/conf
      - /mnt/nfs/files/Datalake/dev/infra/UnityCatalog/server/data:/home/unitycatalog/etc/data
      - /mnt/nfs/files/Datalake/dev/infra/UnityCatalog/server/db:/home/unitycatalog/etc/db
      - /mnt/nfs/files/Datalake/dev/infra/UnityCatalog/server/logs:/home/unitycatalog/etc/logs
    restart: unless-stopped
      
  d_unitycatalog-ui:
    image: unitycatalog-ui:latest
    container_name: d_unitycatalog-ui
    ports:
      - "20201:3000"
    depends_on:
      - server
    restart: unless-stopped