version: "3.8"

services:
  d_minio01:
    image: minio/minio:latest
    container_name: d_minio01
    ports:
      - "20000:9000"     # MinIO API
      - "20001:9001"     # MinIO Console
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin
    volumes:
      - /mnt/nfs/files/Datalake/Minio/data:/data
    restart: unless-stopped