version: "3.8"

services:
  d_minio01:
    image: minio/minio:latest
    container_name: d_minio01
    ports:
      - "20000:9000"     # MinIO API
      - "20001:9001"     # MinIO Console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - /mnt/nfs/files/Datalake/dev/Minio/data:/data
    restart: unless-stopped